@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}

.floating-letter {
  position: absolute;
  color: white;
  animation: float 10s linear infinite;
  user-select: none;
  pointer-events: none;
}

@keyframes feedback {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.animate-feedback {
  animation: feedback 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}